html,body {
    background-image: url("../images/arena.jpg");
    background-size: stretch;
    color:white;
    font-family: 'Teko', sans-serif;
}
header {
    font-size:50px;
}
#header-background {
    background-color:rgba(255, 166, 0, 0.2);
}
.card-text {
    color:black;
}
.card {
    background-color:rgba(255, 255, 255, 0.5);
    font-size:32px;
    width:100%;
}
.card-img-top {
    width: 100%;
    height: 10vw;
}
h5 {
    font-size: 25px;
}
.card-body {
    padding:0;
}
.card-title {
    margin-bottom:0px;
}